@font-face {
  font-family: ProximaNova;
  font-style: normal;
  font-weight: 100;
  src: url('../assets/fonts/ProximaNova/ProximaNova-Thin.woff') format('woff');
}
@font-face {
  font-family: ProximaNova;
  font-style: italic;
  font-weight: 100;
  src: url('../assets/fonts/ProximaNova/ProximaNova-ThinIt.woff') format('woff');
}

@font-face {
  font-family: ProximaNova;
  font-style: normal;
  font-weight: 200;
  src: url('../assets/fonts/ProximaNova/ProximaNova-Light.woff') format('woff');
}
@font-face {
  font-family: ProximaNova;
  font-style: italic;
  font-weight: 200;
  src: url('../assets/fonts/ProximaNova/ProximaNova-LightIt.woff') format('woff');
}

@font-face {
  font-family: ProximaNova;
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/ProximaNova/ProximaNova-Regular.woff') format('woff');
}
@font-face {
  font-family: ProximaNova;
  font-style: italic;
  font-weight: 400;
  src: url('../assets/fonts/ProximaNova/ProximaNova-RegularIt.woff') format('woff');
}

@font-face {
  font-family: ProximaNova;
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/ProximaNova/ProximaNova-Semibold.woff') format('woff');
}
@font-face {
  font-family: ProximaNova;
  font-style: italic;
  font-weight: 600;
  src: url('../assets/fonts/ProximaNova/ProximaNova-SemiboldIt.woff') format('woff');
}

@font-face {
  font-family: ProximaNova;
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/ProximaNova/ProximaNova-Bold.woff') format('woff');
}
@font-face {
  font-family: ProximaNova;
  font-style: italic;
  font-weight: 700;
  src: url('../assets/fonts/ProximaNova/ProximaNova-BoldIt.woff') format('woff');
}

@font-face {
  font-family: ProximaNova;
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/ProximaNova/ProximaNova-Extrabld.woff') format('woff');
}
@font-face {
  font-family: ProximaNova;
  font-style: italic;
  font-weight: 800;
  src: url('../assets/fonts/ProximaNova/ProximaNova-ExtrabldIt.woff') format('woff');
}

@font-face {
  font-family: ProximaNova;
  font-style: normal;
  font-weight: 900;
  src: url('../assets/fonts/ProximaNova/ProximaNova-Black.woff') format('woff');
}
@font-face {
  font-family: ProximaNova;
  font-style: italic;
  font-weight: 900;
  src: url('../assets/fonts/ProximaNova/ProximaNova-BlackIt.woff') format('woff');
}
