.header-component {
  height: 6rem;
  padding: 0 1rem 0 1rem;

  .button-back,.button-search {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  div {
    &:nth-child(3) {
      display: flex;
      flex-flow: row;
      justify-content: flex-end;
      align-items: center;
    }
  }
}