.ordering-container {
  .ordering-order-label {
    display: inline-block;
    text-transform: uppercase;
    font-family: Montserrat-Regular;
    font-size: 11px;
    color: #B8BFD3;
    letter-spacing: 1px;
    padding-right: 1rem;
  }
}

