@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  src: url('../assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Black';
  font-style: normal;
  src: url('../assets/fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Light';
  font-style: normal;
  src: url('../assets/fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
}