.text-headline {
  font-family: $headline-font-family;
  font-style: $headline-font-style;
  font-size: $headline-font-size;
  font-weight: $headline-font-weight;
  line-height: $headline-line-height;
  color: $headline-color;
}

.text-title {
  font-family: $title-font-family;
  font-style: $title-font-style;
  font-size: $title-font-size;
  font-weight: $title-font-weight;
  line-height: $title-line-height;
  color: $title-color;
}

.text-subheading {
  font-family: $subheading-font-family;
  font-style: $subheading-font-style;
  font-size: $subheading-font-size;
  font-weight: $subheading-font-weight;
  line-height: $subheading-line-height;
  color: $subheading-color;
}

.text-body {
  font-family: $body-font-family;
  font-style: $body-font-style;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
  color: $body-color;
}

.text-bodyalt {
  font-family: $bodyalt-font-family;
  font-style: $bodyalt-font-style;
  font-size: $bodyalt-font-size;
  font-weight: $bodyalt-font-weight;
  line-height: $bodyalt-line-height;
  color: $bodyalt-color;
}

.text-caption {
  font-family: $caption-font-family;
  font-style: $caption-font-style;
  font-size: $caption-font-size;
  font-weight: $caption-font-weight;
  line-height: $caption-line-height;
  color: $caption-color;
}

.text-base {
  font-family: $base-font-family;
  font-style: $base-font-style;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  color: $base-color;
}
