@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  src: url('../assets/fonts/PlayfairDisplay/PlayfairDisplay-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 700;
  src: url('../assets/fonts/PlayfairDisplay/PlayfairDisplay-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/PlayfairDisplay/PlayfairDisplay-Black.woff') format('woff');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 800;
  src: url('../assets/fonts/PlayfairDisplay/PlayfairDisplay-BlackItalic.woff') format('woff');
}